*{
    box-sizing: border-box;
}
body{
    background-image: url(bg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
      
 